node_modules/**/*
/database/node_modules
/database/package.json
/database/package-lock.json
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
package-lock.json
